{% extends "layout.html" %}

{% block top_imports %}
<script src="{{ url_for('bower.static', filename='plotly/plotly.js') }}"></script>
{% endblock %}

{% block body %}
<body>
  <section class="bck white padding text center">
    <h1>Welcome to <strong>Covar</strong>Me</h1>
    <div class="row text center">
      <hr/>
      <div class="column_4 offset_2">
        <p>As part of the 2016/17 cohort of the Data Science course at the Barcelona Graduate School of Economics, we have build this application to implement some of the tools and techniques gained during the course and to showcase our skills in data-processing and computing.</p>
        </p>
      </div>
      <div class="column_4">
        <img src="http://www.barcelonagse.eu/sites/default/files/styles/bgse_image_content_image/public/news/gselogo-square640.jpg?itok=FHq6rCJZ" width="100%"/>
      </div>
    </div>
  </section>
  <section class="bck white padding text center">
    <div class="row text center">
      <div class="column_6 offset_3">
        <p><strong>Built by:</strong></p>
        <p>Santiago Paz</p>
        <p>David Rosenfeld</p>
        <p>Davide Viviano</p>
        <p><a href="github.com/Westermann">Jonas Paul Westermann</a></p>
      </div>
    </div>
    <hr/>
    <a href="register" class="button success large margin-top">Get Started</a>
  </section>
</body>
{% endblock %}
