<!doctype html>
<title>Covar Me! - {% block title %}{% endblock %}</title>

<link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='tuktuk/tuktuk.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='tuktuk/tuktuk.grid.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='tuktuk/tuktuk.icons.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='tuktuk/tuktuk.theme.default.css') }}">
<script src="{{ url_for('bower.static', filename='plotly/plotly.js') }}"></script>
<script src="{{ url_for('bower.static', filename='tuktuk/tuktuk.js') }}"></script>

<div class=page>
  {% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
