{% extends "layout.html" %}

{% block top_imports %}
{% endblock %}

{% block title %}Create Portfolio{% endblock %}

{% block body %}
<body>
  <section class="bck white padding text center">
    <div class="row padding-bottom">
      <h1>Create a new portfolio for {{ username }}</h1>
      <form id="form" name="new-portfolio-form" action="/new-portfolio/{{ username }}" method='POST' class="margin-top">
        <div class="column_10 offset_1">
          <br/>
          <br/>
          <label>Provide a Name for the new Portfolio</label>
          <input type="text" name="portfolio_name" id="large" />
          <br/>
          <br/>
          <label>Select your Stock Tickers</label>
          <input id="ticker-autocomplete" name="ticker_selection" type="text"/>
          <hr/>
          <button type="submit" class="button success"><span class="icon star"></span>Create Portfolio</button>
        </div>
      </form>
    </div>
  </section>
</body>
{% endblock %}

{% block bottom_imports %}
<script src="{{ url_for('bower.static', filename='devbridge-autocomplete/dist/jquery.autocomplete.min.js') }}"></script>
<script>
var tickers = [
{% for ticker in tickers %}
{ data: "{{ ticker }}", value: "{{ ticker }}" },
{% endfor %}
];
$('#ticker-autocomplete').autocomplete({
  lookup: tickers,
  delimiter: ',',
  lookupLimit: 50,
  onSelect: function () {
    this.value = this.value + ', ';
  }
});
</script>
{% endblock %}

