{% extends "layout.html" %}
{% block body %}
<body>
  <section class="bck white padding text center">
    <div class="row padding-bottom">
      <div class="column_10 offset_1">
        <script src="{{ url_for('bower.static', filename='plotly/plotly.js') }}"></script>
        <title>Hello from Flask</title>
        {% if name %}
        <h1>Hello {{ name }}!</h1>
        {% else %}
        <h1>Hello, World!</h1>
        {% endif %}
        <div id="graph" style="width:100%;height:550px;"></div>
        <script>
var selectorOptions = {
  buttons: [{
    step: 'month',
    stepmode: 'backward',
    count: 1,
    label: '1m'
  }, {
    step: 'month',
    stepmode: 'backward',
    count: 6,
    label: '6m'
  }, {
    step: 'year',
    stepmode: 'todate',
    count: 1,
    label: 'YTD'
  }, {
    step: 'year',
    stepmode: 'backward',
    count: 1,
    label: '1y'
  }, {
    step: 'all',
  }],
};
var layout = {
  title: 'Time series with range slider and selectors',
  xaxis: {
    rangeselector: selectorOptions,
    rangeslider: {}
  },
  yaxis: {
    fixedrange: true
  }
};
function prepData(rawData) {
  var x = [];
  var y = [];

  rawData.forEach((metric) => {
    Object.keys(metric).forEach((dp) => {
      console.log(dp)
      x.push(new Date(dp * 1000));
      y.push(metric[dp]);
    });
  });

  console.log(x[0])
  console.log(y[0])
  return [{
    mode: 'lines',
    x: x,
    y: y
  }];
}
Plotly.plot('graph', prepData({{ chart_data|tojson }}), layout);
        </script>
        </h4>
      </div>
    </div>
    <section class="landing">
      <div class="row text center">
        <div class="column_10 offset_1">
          <h2 class="text bold color theme">Lorem ipsum dolor sit amet</h2>
          <h4 class="text book italic">Quam sunt quos minima consequatur</h4>
          <a href="#" class="button large margin-top">Yes, please!</a>
        </div>
      </div>
    </section>
</body>
{% endblock %}
