{% extends "layout.html" %}

{% block title %}Portfolio{% endblock %}

{% block top_imports %}
<script src="{{ url_for('bower.static', filename='plotly/plotly.js') }}"></script>
{% endblock %}

{% block body %}
<body>

  <section class="bck white padding text center">
    <h1>Hello {{ username }}!</h1>
    <p>Stats for your portfolio: {{ name }}</p>
  </section>

  <section class="bck white padding text center">
    <!-- Return vs. Variance curve -->
    <div class="row padding-bottom">
      <div class="column_10 offset_1">
        <h2>Return vs. Risk</h2>
        <div id="ret-vs-var-graph" style="width:100%;height:550px;"></div>
        <script>
var layout = {
  paper_bgcolor: "rgb(255,255,255)", 
  plot_bgcolor: "rgb(229,229,229)", 
  xaxis: {
    gridcolor: "rgb(255,255,255)", 
    range: [1, 10], 
    showgrid: true, 
    showline: false, 
    showticklabels: true, 
    tickcolor: "rgb(127,127,127)", 
    ticks: "outside", 
    zeroline: false
  }, 
  yaxis: {
    gridcolor: "rgb(255,255,255)", 
    showgrid: true, 
    showline: false, 
    showticklabels: true, 
    tickcolor: "rgb(127,127,127)", 
    ticks: "outside", 
    zeroline: false
  }
};
Plotly.plot('ret-vs-var-graph', {{ data.charts.ret_vs_var|tojson }}, layout);
        </script>
      </div>
    </div>
  </section>

  <section class="bck white padding text center">
    <!-- Portfolio Noise -->
    <div class="row padding-bottom">
      <div class="column_10 offset_1">
        <h2>Portfolio Returns</h2>
        <div id="noise-graph" style="width:100%;height:550px;"></div>
        <script>
var layout = {
  paper_bgcolor: "rgb(255,255,255)", 
  plot_bgcolor: "rgb(229,229,229)", 
  xaxis: {
    gridcolor: "rgb(255,255,255)", 
    showgrid: true, 
    showline: false, 
    showticklabels: true, 
    tickcolor: "rgb(127,127,127)", 
    ticks: "outside", 
    zeroline: false
  }, 
  yaxis: {
    gridcolor: "rgb(255,255,255)", 
    showgrid: true, 
    showline: false, 
    showticklabels: true, 
    tickcolor: "rgb(127,127,127)", 
    ticks: "outside", 
    zeroline: false
  }
};
Plotly.plot('noise-graph', {{ data.charts.noise|tojson }}, layout);
        </script>
      </div>
    </div>
  </section>

  <section class="bck white padding text center">
    <!-- Portfolio Covariance Heatmap -->
    <div class="row padding-bottom">
      <div class="column_10 offset_1">
        <h2>Portfolio Covariance</h2>
        <div id="covar-heatmap-graph" style="width:100%;height:550px;"></div>
        <script>
Plotly.newPlot('covar-heatmap-graph', {{ data.charts.covar_heatmap|tojson }});
        </script>
      </div>
    </div>
  </section>

</body>
{% endblock %}

